// Provides common variables and mixins for themes.

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

@mixin scrollbars($size, $foreground-color, $background-color, $hover-color, $active-color) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $hover-color;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $active-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-corner {
        background-color: $background-color;
    }
}
