@import "./common";

$info: rgb(0, 106, 108);

@import "node_modules/bootstrap/scss/bootstrap";

.menubar-item {
    background-color: $body-bg !important;
    color: $body-color !important;
}

.lt-border {
    border-color: $gray-200 !important;
}

.editor-tab:hover {
    background-color: $gray-300;
}

* {
    @include scrollbars(0.5em, $gray-300, $gray-100, $gray-400, $gray-500);
}
