.object-header {
    cursor: pointer;
    user-select: none;
}

.object-caret {
    transition: transform 100ms;
}

.object-caret.open {
    transform: rotate(90deg) translateX(-15%) translateY(15%);
}

