.object-caret {
    transition: transform 100ms;
}

.object-caret.open {
    transform: rotate(90deg) translateX(-15%) translateY(15%);
}

.folder-caret {
    transition: transform 100ms;
}

.folder-caret.open {
    transform: rotate(90deg) translateX(-15%) translateY(0%);
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.menubar-item::after {
    display: none !important;
}

.menubar-item:focus {
    box-shadow: none !important;
}

.w-40 {
    width: 40%;
}

.window-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 100;
}
