body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.object-header {
    cursor: pointer;
    user-select: none;
}

.object-caret {
    transition: transform 100ms;
}

.object-caret.open {
    transform: rotate(90deg) translateX(-15%) translateY(15%);
}

.folder-caret {
    transition: transform 100ms;
    transform: translateY(-20%);
}

.folder-caret.open {
    transform: rotate(90deg) translateX(-20%) translateY(0%);
}


